 <!-- Hero Section -->
    <div class="relative bg-gray-800 text-white h-screen flex items-center">
      <img src="https://cdn.pixabay.com/photo/2022/11/03/03/05/apples-7566512_1280.jpg" alt="Store Background" class="absolute inset-0 w-full h-full object-cover opacity-50">
      <div class="relative z-10 container mx-auto text-center">
        <h1 class="text-6xl font-extrabold text-white py-20 mx-10 sm:text-4xl sm:py-10">Fresh Groceries Delivered to Your Doorstep</h1>
        <p class="text-xl text-white py-20 sm:text-lg">Order fresh groceries online from the comfort of your home</p>
        <a href="/store" class="bg-gray-700 hover:bg-slate-900 text-white font-bold py-3 px-6 rounded-full transition duration-300">Shop Now</a>
      </div>
    </div>



  

  