 <!-- Hero Section -->
    <div class="relative bg-Clightblue dark:bg-Cdarkblue text-white h-screen flex items-center">
      <div class="relative z-10 container mx-auto text-center">
        <h1 class="text-6xl font-extrabold text-white py-20 mx-10 sm:text-4xl sm:py-10">Fresh Groceries Delivered to Your Doorstep</h1>
        <p class="text-xl text-white py-20 sm:text-lg">Order fresh groceries online from the comfort of your home</p>
        <a href="/store" class="bg-gray-700 hover:bg-slate-900 text-white font-bold py-3 px-6 rounded-full transition duration-300">Shop Now</a>
      </div>
    </div>



  

  