<div class="grid grid-cols-3 gap-4 mx-32 my-10 p-10 bg-gray-200 rounded-lg">
    <div><img src="{{product?.photo}}" alt="product?.name"></div>
    <div class="flex justify-start flex-col">
        <h1 class="text-4xl mb-11 font-bold">{{product?.name}}</h1>
        <p class="text-xl mb-11 font-medium">Price: ${{product?.price}}</p>
    </div>
    <div class="my-10 bg-gray-100 p-20 rounded-2xl ">
        <h2 class="text-4xl mb-11 font-bold">Buy {{product?.name}}</h2>
        <form [formGroup]="addToCart" (submit)="submitAddToCart()" class="flex flex-col gap-8">
            <div>
                <label for="qty" class="mr-3 font-medium">Quantity:</label>
                <input type="number" name="Quantity" id="qty" min="1" max="1000" [defaultValue]="1" class="py-1 px-2 w-16 rounded-md" formControlName="qty">
            </div>
            <div>
                <input type="submit" class="bg-gray-900 text-white font-bold py-2 px-4 rounded hover:cursor-pointer" value="Add to Cart" />
            </div>
        </form>
    </div>



</div>