<section class="relative bg-gray-800 text-white h-screen flex items-center">
    <img src="https://cdn.pixabay.com/photo/2016/11/18/13/16/boxes-1834416_1280.jpg" alt="Store Background"
        class="absolute inset-0 w-full h-full object-cover opacity-50">
    <div class="relative z-10 container mx-auto text-center">
        <h1 class="text-5xl font-bold mb-6">Fresh. Delivered.</h1>
        <p class="text-2xl mb-20">The freshest groceries you can find online, right to your door</p>
        <div class="flex gap-8 justify-center">
            <div *ngFor="let cat of categories">
                <app-category [category]="cat"></app-category>
            </div>
        </div>
    </div>
</section>