<div class="my-32 mx-20 p-10 bg-gray-200 rounded-xl grid grid-cols-3 gap-4">
    <div >
        <h1 class="font-bold text-4xl mb-20">Cart</h1>
        <div>
            <app-cart-item *ngFor="let item of cartItems" [productWithQty]="item"></app-cart-item>
            <p ng-if="cartItems.length <= 0" class="font-medium text-xl">
                No Items in Cart
            </p>
        </div>
    </div>
    <div></div>
    <div class="">
        <div class="mt-10">
            <div class="mb-10 mt-2 text-xl font-semibold">
                Total: {{getPrice()}}
            </div>
            <a class="bg-gray-900 py-2 px-4 text-white rounded font-bold" (click)="checkout()" href="/cart">Checkout</a>
        </div>
    </div>
</div>